<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
            <link rel="icon" href = "/img/weather.png">
            <link rel="stylesheet" href = "./css/styles.css">
    </head>
        <body>
            <div class="main-content">
            {{>header}}
            <img class = "portrait" src = "/img/sid.jpg">
            <p>I work as a software developer trying to do my best, although failing most of the time. Apart from that, I like to 
                play my guitar in my free time. Also, I am a huge sports maniac always looking for some sporting event to hang onto.
                I love my football and I root for Liverpool. 
            </p>
            </div>
            {{>footer}}      
        </body>

   

</html>