<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
            <link rel="icon" href = "/img/weather.png">
            <link rel="stylesheet" href = "./css/styles.css">
    </head>
        <body>
            <div class="main-content">
            {{>header}}
            <p>For any help, contact me on +917259464296. You can also contact me on Facebook(Siddharth Bhatt)or Instagram(siddbhatt)
                Also, before contacting me, I do hope that you do all prior research on that topic. You will have to go through an
                interview process before I answer your queries. If you cannot clear the interview, I am sorry but you are on your own.
                <p></p>
                Also, this app depends on the darksky API info to get the weather information. If there is any discrepancy between the 
                actual weather and the weather shown in this app, I will not be responsible for it.
            </p>
            </div>
            {{>footer}}
        </body>
    

</html>